main {
  background-color: #ddd;
}
.row{
  background-color: #0b7261;
  border : 2px solid #000;
  border-radius: 10px;
}
.col-md-6, .col-md-4,.col-md-3, section{
  padding: 25px;
}

.img-fluid{
  border-radius: 5px;
}
.card{
    border-radius: 5px;
}
.card-img-top{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#rust_book_text, #rust_playground_text{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}
#rust_book,#rust_playground{
  display: flex;
  justify-content: center;
  align-items: center;
}
.corporate-img{
  aspect-ratio: 1/1;
  max-width: 100%;
}
#myCarousel img{
  max-height: 75vh;
  width: 100%;
}